
body{
	background-image: url("http://orig08.deviantart.net/d04b/f/2015/105/6/1/epic_friends_forever__fnaf_sfm_wallpaper__by_gold94chica-d8pv5ol.png");

}
h1{
	text-align: center;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
#about{
  margin-top: 500px;    
}
#contaner{
	display: flex;
	flex-flow: row wrap;
	border:10px solid black;
	width: 1700px;
    height: 1000px

}
.profile{
	font-size: 200%;
	color: green
}
#bob{
	padding: 0px 100px;
}
#bears{
	padding: 0px 100px;
}#pizza	{
	padding: 0px 50px;
}